{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Page Header-->
<header>
<div id="main-image" class="container-fluid, image-container">
<div class="opaque-overlay">&nbsp;</div>
<div class="row text-on-top">
    <div class="col-12">
        <div class="text-center text-white header-text">
            <h1 class="text-center page-title">Wholebeans</h1>
            <h2 class="slogan">Coffee Recipes</h2>
            <br>
            <div class="info-text">
                <p>Looking to share or find coffee recipes?p>
                <p>Meet Wholebeans! The new online coffee hub to ahare and connect with coffee enthusiasts from all over the world.</p>
                <p>Search the site to find new recipes. Log in/sign up to share your own recipes!</p>

                {% if user.is_authenticated %}
                <!--Shows Add Recipe button if user is logged in-->
                <div>
                    <a class="btn btn-danger delete-button" href="{% url 'add_recipe' %}"
                    role="button">Add Recipe</a>
                </div>

                {% else %}
                <!--Shows Sign up and log in buttons if user not logged in yet-->
                <div> 
                    <a class="btn btn-success edit-button" href="{% url 'account_signup' %}"
                        role="button">Sign Up</a>
                    <a class="btn btn-danger delete-button" href="{% url 'account_login' %}"
                        role="button">Sign In</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
</div>
</header>

<div class="row">
    <div class="col-8 offset-2">
        <h3 class="h3 display-2 text-center">Latest Coffee Recipes</h3>
        <hr>
    </div>
</div>

<!--Most recent 6 recipes added to the sit--> 
<div class="container-fluid">
    <div class="row">
        <!-- Coffee Recipes -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}

                {% include 'includes/recipe_cards.html' with recipe=recipe %}

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}